@import './_variables.scss';

.examRoomPageContainer {
  padding: 0 30px;
  margin-top: 30px;

  :global {
    .heading-wrapper {
      margin-bottom: 24px;

      .heading {
        font-size: $font-size-heading2;
        line-height: $line-height-heading2;
        font-weight: bold;
      }

      .description {
        font-size: $font-size-sm;
        line-height: $line-height-sm;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .examRoomPageContainer {
    padding: 0 8px;
    margin-top: 12px;

    :global {
      .heading-wrapper {
        margin-bottom: 16px;

        .heading {
          font-size: $font-size-heading3;
          line-height: $line-height-heading3;
        }
  
        .description {
          font-size: $font-size-sm;
          line-height: $line-height-sm;
        }
      }
    }
  }
}