.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 0 30px; }
  .homePageContainer :global .welcome-text {
    margin-bottom: 8px; }
    .homePageContainer :global .welcome-text .registration-introduction {
      display: flex;
      flex-direction: row;
      align-items: center; }
  .homePageContainer :global .heading {
    text-align: center;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 8px; }
  .homePageContainer :global .author-wrapper {
    margin-top: 24px;
    display: flex;
    margin-left: -24px; }
    .homePageContainer :global .author-wrapper .author-text {
      text-align: center; }
    .homePageContainer :global .author-wrapper .members {
      display: flex;
      flex-direction: column;
      margin-left: 8px; }

@media screen and (max-width: 768px) {
  .homePageContainer {
    padding: 0 16px;
    margin-top: 40px; }
    .homePageContainer :global .welcome-text {
      margin-bottom: 8px; }
      .homePageContainer :global .welcome-text .registration-introduction {
        display: flex;
        flex-direction: column;
        text-align: center; }
        .homePageContainer :global .welcome-text .registration-introduction .btn-registration {
          margin-top: 8px; }
    .homePageContainer :global .heading {
      font-size: 24px;
      margin-top: 16px; }
    .homePageContainer :global .logo {
      width: 200px; } }
